In [ ]:
# with open('/content/drive/MyDrive/WS/Çıktılar/DataN5grams.json') as fin:
#     fin.seek(0)
#     data = fin.read(10000 - 0)
#     Lines = data.read

In [ ]:
# f = open ( '/content/drive/MyDrive/WS/Çıktılar/DataN5grams.json' , 'r')
# l = [ map(float,line.strip().split()) for line in f ]

# no_samples = len(l)

# data1 = l[0:int(no_samples/3)][:]

# data2 = l[int(no_samples/3):int(no_samples*2/3)][:]

# data3 = l[int(no_samples*2/3):no_samples][:]

# file = open('data1.json','w')
# for row in data1: 
#     file.writelines(["%s\t" % item for item in row]) 
#     file.writelines("\n") 
# file.close()

In [ ]:
# with open('/content/drive/MyDrive/WS/Çıktılar/DataN5grams.json', 'r', encoding='utf-8')as f:
#   Lines = f.readlines()
#   df = pd.DataFrame(Lines,columns=['word'])

In [ ]:
# import numpy as np
# Lines = 56.000.022
# splits = np.array_split(Lines, 1000000)

# for array in splits:
#     print(len(array))

In [ ]:
# length = len(Lines)

# middle_index = length // 2

# first_half = Lines[:middle_index]
# second_half = Lines[middle_index:]

In [ ]:
# fp = open(filepath)
# for x in range(1,57):
#   for i, line in enumerate(fp):
#       if i == x * 1000000:
#         Lines = fp.readlines()
#         ndf = pd.DataFrame(Lines,columns=['word'])
#         df.append(ndf)
#       elif i > x * 1000000:
#           break

In [ ]:
# dfn = pd.DataFrame(columns=['word'])

In [ ]:
# df2 = pd.DataFrame({"a":[1, 2, 3, 4],
#                     "b":[5, 6, 7, 8]})
# df3 = pd.DataFrame({"a":[16, 25, 34, 47],
#                     "b":[85, 86, 87, 83]})

In [ ]:
# dfn = dfn.append(df2, ignore_index = True)

In [ ]:
# dfn

In [ ]:
# dfn = dfn.append(df3, ignore_index = True)

In [ ]:
# dfn

In [ ]:
# with open('/content/drive/MyDrive/WS/Çıktılar/DataN5grams.json', 'r', encoding='utf-8')as f:
#   Lines = f.readlines()

In [ ]:
# len(Lines)

In [ ]:
# converted_list = []

# for y in range(0,56001):
#   start = y*1000
#   end = (y*1000)+999
#   for element in Lines[start:end]:
#       converted_list.append(element.strip())

In [ ]:
# len(converted_list)

In [ ]:
# converted_list = [s.strip(',') for s in converted_list]
# # converted_list = [s.replace(',', '') for s in converted_list]
# converted_list = [s.strip(',') for s in converted_list]
# # converted_list = [s.replace('[', '') for s in converted_list]
# converted_list = [s.strip(',') for s in converted_list]
# # converted_list = [s.replace(']', '') for s in converted_list]

In [ ]:
# len(converted_list)

In [ ]:
# df = pd.DataFrame(columns=['word'])

In [ ]:
# for x in range(0,56001):
#     try:
#     start = x*1000
#     end = (x*1000)+999
#     df1 = pd.DataFrame(converted_list[start:end],columns=['word'])
#     df = df.append(df1, ignore_index = True)
#     print(x)
#   except:
#     pass

In [ ]:
# import numpy as np
# df['word'].replace('', np.nan, inplace=True)
# df.dropna(subset=['word'], inplace=True)
# df = df.reset_index(drop=True)
# df.index += 1

In [ ]:
# data = pd.DataFrame(df.word.str.split(':',1).tolist(),columns = ['word','freq'])

In [ ]:
# Lines.remove('    "": 1452652,\n')
# Lines.remove('{\n')

In [ ]:
# mydict = {
#     'myword1' : [],
#     'myword2' : [],
#     'myword3' : [],
#     'myword4' : [],
#     'myword5' : [],
#     'myfreq' : []
# }

In [ ]:
# # data = pd.DataFrame(columns = ['word - 1', 'word - 2', 'word - 3', 'word - 4', 'word - 5', 'freq'])

# dfc = df.copy()
# dfc.columns = ['']
# # df.set_index('Name', inplace=True)

# for t in range(0,12000):
#   v = ''
#   if t // 6 == 0:
#     v = (dfc.iloc[[t]].to_string(header=None, index=False))
#     mydict['myword5'].append(v)
#   elif t // 6 == 1:
#     v = (dfc.iloc[[t]].to_string(header=None, index=False))
#     mydict['myword1'].append(v)
#   elif t // 6 == 2:
#     v = (dfc.iloc[[t]].to_string(header=None, index=False))
#     mydict['myword2'].append(v)
#   elif t // 6 == 3:
#     v = (dfc.iloc[[t]].to_string(header=None, index=False))
#     mydict['myword3'].append(v)
#   elif t // 6 == 4:
#     v = (dfc.iloc[[t]].to_string(header=None, index=False))
#     mydict['myword4'].append(v)
#   elif t // 6 == 5:
#     v = (dfc.iloc[[t]].to_string(header=None, index=False))
#     mydict['myfreq'].append(v)

In [ ]:
# data = pd.DataFrame(mydict)

In [ ]:
name = 'N5'

In [ ]:
import pandas as pd

In [ ]:
filepath = r'/content/drive/MyDrive/WS/Çıktılar/Data' + name + 'grams.json'

In [ ]:
df = pd.read_json(filepath)

In [ ]:
df.shape

(5600002, 2)

In [ ]:
full_data = pd.DataFrame(columns=['Words','Freq'])
full_data.Words = df[0]
full_data['Freq'] = df[1]

In [ ]:
full_data.head()

                                               Words  Freq
0  [1dimensional, nonlinear, optical, wave, coher...     1
1    [nonlinear, optical, wave, coherently, excited]     1
2     [optical, wave, coherently, excited, resonant]     1
3      [wave, coherently, excited, resonant, medium]     1
4     [coherently, excited, resonant, medium, doped]     1

In [ ]:
full_data.tail()

                                                     Words  Freq
5599997  [importance, including, compatible, incompatib...     1
5599998  [including, compatible, incompatible, interact...     1
5599999  [compatible, incompatible, interaction, invest...     1
5600000  [incompatible, interaction, investigating, bio...     1
5600001  [interaction, investigating, biology, complex,...     1

In [ ]:
full_data.Freq = full_data['Freq'].convert_dtypes()

In [ ]:
full_data.dtypes

Words    object
Freq      Int64
dtype: object

In [ ]:
full_data.Freq = pd.to_numeric(full_data.Freq)

In [ ]:
full_data.dtypes

Words    object
Freq      Int64
dtype: object

In [ ]:
full_data.shape

(5600002, 2)

In [ ]:
num = 25
full_data = full_data[full_data['Freq'] >= num]

In [ ]:
full_data.shape

(132, 2)

In [ ]:
full_data

                                                     Words  Freq
808            [discussed, elsevier, inc, right, reserved]    25
809                [elsevier, inc, right, reserved, paper]    54
2002          [nonalcoholic, fatty, liver, disease, nafld]    26
2817                    [copyright, john, wiley, son, ltd]   500
4580     [realtime, quantitative, polymerase, chain, re...    31
...                                                    ...   ...
2966097          [health, inc, right, reserved, objective]    28
2972180     [elsevier, masson, right, reserved, objective]    28
2986598        [elsevier, inc, right, reserved, objective]   108
2994793        [elsevier, ltd, right, reserved, objective]   109
3006237         [ireland, ltd, right, reserved, objective]    53

[132 rows x 2 columns]

In [ ]:
full_data = full_data.sort_values(by=['Freq'], ascending=False)

In [ ]:
full_data

                                                     Words  Freq
2817                    [copyright, john, wiley, son, ltd]   500
27235          [published, elsevier, ltd, right, reserved]   346
2271278            [elsevier, ltd, right, reserved, paper]   338
70866            [elsevier, ireland, ltd, right, reserved]   263
533820        [elsevier, ltd, right, reserved, background]   159
...                                                    ...   ...
53057    [fourier, transform, infrared, spectroscopy, f...    25
39220    [proportional, integral, derivative, pid, cont...    25
28914             [field, programmable, gate, array, fpga]    25
10323       [experimental, result, show, proposed, method]    25
808            [discussed, elsevier, inc, right, reserved]    25

[132 rows x 2 columns]

In [ ]:
full_data = full_data.reset_index(drop=True)

In [ ]:
full_data

                                                 Words  Freq
0                   [copyright, john, wiley, son, ltd]   500
1          [published, elsevier, ltd, right, reserved]   346
2              [elsevier, ltd, right, reserved, paper]   338
3            [elsevier, ireland, ltd, right, reserved]   263
4         [elsevier, ltd, right, reserved, background]   159
..                                                 ...   ...
127  [fourier, transform, infrared, spectroscopy, f...    25
128  [proportional, integral, derivative, pid, cont...    25
129           [field, programmable, gate, array, fpga]    25
130     [experimental, result, show, proposed, method]    25
131        [discussed, elsevier, inc, right, reserved]    25

[132 rows x 2 columns]

In [ ]:
full_data.shape

(132, 2)

In [ ]:
full_data.to_csv('/content/drive/MyDrive/WS/Çıktılar/' + name + 'grams.csv', encoding='utf-8')

In [ ]:
z = full_data.to_numpy()

In [ ]:
z

array([[list(['copyright', 'john', 'wiley', 'son', 'ltd']), 500],
       [list(['published', 'elsevier', 'ltd', 'right', 'reserved']), 346],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'paper']), 338],
       [list(['elsevier', 'ireland', 'ltd', 'right', 'reserved']), 263],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'background']),
        159],
       [list(['ltd', 'right', 'reserved', 'paper', 'present']), 115],
       [list(['kluwer', 'health', 'inc', 'right', 'reserved']), 112],
       [list(['wolters', 'kluwer', 'health', 'inc', 'right']), 112],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'objective']), 109],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'study']), 109],
       [list(['open', 'access', 'article', 'byncnd', 'license']), 109],
       [list(['elsevier', 'inc', 'right', 'reserved', 'objective']), 108],
       [list(['copyright', 'wolters', 'kluwer', 'health', 'inc']), 102],
       [list(['published', 'elsevier', 'inc', 'right', 'reserved']), 91],
       [list(['elsevier', 'inc', 'right', 'reserved', 'background']), 91],
       [list(['international', 'union', 'biochemistry', 'molecular', 'biology']),
        89],
       [list(['quantitative', 'realtime', 'polymerase', 'chain', 'reaction']),
        89],
       [list(['reverse', 'transcription', 'polymerase', 'chain', 'reaction']),
        85],
       [list(['discussed', 'elsevier', 'ltd', 'right', 'reserved']), 81],
       [list(['system', 'elsevier', 'ltd', 'right', 'reserved']), 79],
       [list(['article', 'part', 'special', 'issue', 'entitled']), 70],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'present']), 62],
       [list(['john', 'wiley', 'son', 'ltd', 'paper']), 61],
       [list(['functional', 'magnetic', 'resonance', 'imaging', 'fmri']),
        57],
       [list(['american', 'academy', 'allergy', 'asthma', 'immunology']),
        57],
       [list(['elsevier', 'inc', 'right', 'reserved', 'paper']), 54],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'work']), 54],
       [list(['ireland', 'ltd', 'right', 'reserved', 'objective']), 53],
       [list(['elsevier', 'right', 'reserved', 'paper', 'present']), 53],
       [list(['reverse', 'transcriptionquantitative', 'polymerase', 'chain', 'reaction']),
        51],
       [list(['union', 'biochemistry', 'molecular', 'biology', 'inc']),
        50],
       [list(['child', 'autism', 'spectrum', 'disorder', 'asd']), 50],
       [list(['diagnostic', 'statistical', 'manual', 'mental', 'disorder']),
        47],
       [list(['chronic', 'obstructive', 'pulmonary', 'disease', 'copd']),
        46],
       [list(['elsevier', 'ltd', 'open', 'access', 'article']), 45],
       [list(['ireland', 'ltd', 'right', 'reserved', 'background']), 42],
       [list(['national', 'health', 'nutrition', 'examination', 'survey']),
        39],
       [list(['elsevier', 'inc', 'right', 'reserved', 'introduction']),
        39],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'introduction']),
        39],
       [list(['published', 'elsevier', 'ltd', 'open', 'access']), 38],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'aim']), 38],
       [list(['elsevier', 'open', 'access', 'article', 'byncnd']), 38],
       [list(['ibro', 'published', 'elsevier', 'ltd', 'right']), 38],
       [list(['hydrogen', 'energy', 'publication', 'llc', 'published']),
        37],
       [list(['energy', 'publication', 'llc', 'published', 'elsevier']),
        37],
       [list(['control', 'hosting', 'elsevier', 'ltd', 'right']), 37],
       [list(['hosting', 'elsevier', 'ltd', 'right', 'reserved']), 37],
       [list(['publication', 'llc', 'published', 'elsevier', 'ltd']), 37],
       [list(['llc', 'published', 'elsevier', 'ltd', 'right']), 37],
       [list(['adjusted', 'odds', 'ratio', 'confidence', 'interval']),
        37],
       [list(['access', 'article', 'byncnd', 'license', 'httpcreativecommonsorglicensesbyncnd40']),
        36],
       [list(['published', 'elsevier', 'open', 'access', 'article']), 36],
       [list(['neurourol', 'urodynam', 'wiley', 'periodical', 'inc']),
        35],
       [list(['ltd', 'open', 'access', 'article', 'byncnd']), 35],
       [list(['nonsmall', 'cell', 'lung', 'cancer', 'nsclc']), 34],
       [list(['lower', 'urinary', 'tract', 'symptom', 'luts']), 34],
       [list(['author', 'published', 'elsevier', 'ltd', 'open']), 34],
       [list(['crown', 'copyright', 'published', 'elsevier', 'ltd']), 33],
       [list(['application', 'elsevier', 'ltd', 'right', 'reserved']),
        33],
       [list(['published', 'elsevier', 'masson', 'right', 'reserved']),
        33],
       [list(['mean', 'age', 'year', 'range', 'year']), 33],
       [list(['elsevier', 'inc', 'right', 'reserved', 'study']), 33],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'recent']), 32],
       [list(['elsevier', 'espana', 'slu', 'right', 'reserved']), 32],
       [list(['american', 'society', 'bone', 'mineral', 'research']), 32],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'research']), 32],
       [list(['published', 'john', 'wiley', 'son', 'ltd']), 32],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'purpose']), 31],
       [list(['automatic', 'control', 'hosting', 'elsevier', 'ltd']), 31],
       [list(['realtime', 'quantitative', 'polymerase', 'chain', 'reaction']),
        31],
       [list(['elsevier', 'ltd', 'selection', 'peerreview', 'responsibility']),
        30],
       [list(['peripheral', 'blood', 'mononuclear', 'cell', 'pbmcs']),
        30],
       [list(['disorder', 'elsevier', 'ltd', 'right', 'reserved']), 30],
       [list(['federation', 'automatic', 'control', 'hosting', 'elsevier']),
        30],
       [list(['method', 'elsevier', 'ltd', 'right', 'reserved']), 30],
       [list(['reverse', 'transcriptionpolymerase', 'chain', 'reaction', 'rtpcr']),
        30],
       [list(['author', 'published', 'elsevier', 'open', 'access']), 30],
       [list(['vascular', 'endothelial', 'growth', 'factor', 'vegf']),
        30],
       [list(['ifac', 'international', 'federation', 'automatic', 'control']),
        30],
       [list(['published', 'elsevier', 'right', 'reserved', 'background']),
        30],
       [list(['published', 'elsevier', 'ltd', 'selection', 'peerreview']),
        30],
       [list(['international', 'federation', 'automatic', 'control', 'hosting']),
        30],
       [list(['academy', 'allergy', 'asthma', 'immunology', 'background']),
        29],
       [list(['author', 'published', 'elsevier', 'ltd', 'selection']),
        29],
       [list(['leadership', 'energy', 'environmental', 'design', 'leed']),
        29],
       [list(['society', 'photooptical', 'instrumentation', 'engineer', 'spie']),
        29],
       [list(['condition', 'elsevier', 'ltd', 'right', 'reserved']), 29],
       [list(['copyright', 'published', 'elsevier', 'ltd', 'right']), 29],
       [list(['realtime', 'polymerase', 'chain', 'reaction', 'pcr']), 29],
       [list(['elsevier', 'masson', 'right', 'reserved', 'objective']),
        28],
       [list(['health', 'inc', 'right', 'reserved', 'objective']), 28],
       [list(['quantitative', 'reverse', 'transcription', 'polymerase', 'chain']),
        28],
       [list(['attention', 'deficit', 'hyperactivity', 'disorder', 'adhd']),
        28],
       [list(['elsevier', 'right', 'reserved', 'background', 'aim']), 28],
       [list(['author', 'published', 'elsevier', 'ltd', 'paper']), 27],
       [list(['school', 'aerospace', 'mechanical', 'manufacturing', 'engineering']),
        27],
       [list(['adjusted', 'odds', 'ratio', 'aor', 'confidence']), 27],
       [list(['elsevier', 'ltd', 'right', 'reserved', 'article']), 27],
       [list(['international', 'society', 'autism', 'research', 'wiley']),
        27],
       [list(['society', 'autism', 'research', 'wiley', 'periodical']),
        27],
       [list(['autism', 'research', 'wiley', 'periodical', 'inc']), 27],
       [list(['odds', 'ratio', 'aor', 'confidence', 'interval']), 27],
       [list(['american', 'society', 'civil', 'engineer', 'paper']), 26],
       [list(['elsevier', 'inc', 'right', 'reserved', 'aim']), 26],
       [list(['mechanical', 'manufacturing', 'engineering', 'rmit', 'university']),
        26],
       [list(['john', 'wiley', 'son', 'ltd', 'eating']), 26],
       [list(['nonalcoholic', 'fatty', 'liver', 'disease', 'nafld']), 26],
       [list(['acta', 'materialia', 'inc', 'published', 'elsevier']), 26],
       [list(['materialia', 'inc', 'published', 'elsevier', 'ltd']), 26],
       [list(['inc', 'published', 'elsevier', 'ltd', 'right']), 26],
       [list(['distributed', 'program', 'including', 'test', 'data']),
        26],
       [list(['program', 'including', 'test', 'data', 'etc']), 26],
       [list(['disease', 'elsevier', 'inc', 'right', 'reserved']), 26],
       [list(['aerospace', 'mechanical', 'manufacturing', 'engineering', 'rmit']),
        26],
       [list(['published', 'elsevier', 'ireland', 'ltd', 'right']), 26],
       [list(['realtime', 'polymerase', 'chain', 'reaction', 'qrtpcr']),
        26],
       [list(['wiley', 'son', 'ltd', 'eating', 'disorder']), 26],
       [list(['ltd', 'selection', 'peerreview', 'responsibility', 'school']),
        26],
       [list(['selection', 'peerreview', 'responsibility', 'school', 'aerospace']),
        26],
       [list(['peerreview', 'responsibility', 'school', 'aerospace', 'mechanical']),
        26],
       [list(['responsibility', 'school', 'aerospace', 'mechanical', 'manufacturing']),
        26],
       [list(['adolescent', 'health', 'medicine', 'right', 'reserved']),
        25],
       [list(['society', 'adolescent', 'health', 'medicine', 'right']),
        25],
       [list(['son', 'ltd', 'eating', 'disorder', 'association']), 25],
       [list(['isa', 'published', 'elsevier', 'ltd', 'right']), 25],
       [list(['polymerase', 'chain', 'reaction', 'western', 'blot']), 25],
       [list(['bath', 'ankylosing', 'spondylitis', 'disease', 'activity']),
        25],
       [list(['fourier', 'transform', 'infrared', 'spectroscopy', 'ftir']),
        25],
       [list(['proportional', 'integral', 'derivative', 'pid', 'controller']),
        25],
       [list(['field', 'programmable', 'gate', 'array', 'fpga']), 25],
       [list(['experimental', 'result', 'show', 'proposed', 'method']),
        25],
       [list(['discussed', 'elsevier', 'inc', 'right', 'reserved']), 25]],
      dtype=object)