In [ ]:
import pandas as pd

In [ ]:
with open('/content/drive/MyDrive/WS/Çıktılar/DataUni.json', 'r', encoding='utf-8')as f:
  Lines = f.readlines()

In [ ]:
len(Lines)

178094

In [ ]:
converted_list = []

for y in range(0,179):
  start = y*1000
  end = (y*1000)+999
  for element in Lines[start:end]:
      converted_list.append(element.strip())

# converted_list = [s.strip(',') for s in converted_list]
converted_list = [s.replace(',', '') for s in converted_list]
# converted_list = [s.strip(',') for s in converted_list]
converted_list = [s.replace('[', '') for s in converted_list]
# converted_list = [s.strip(',') for s in converted_list]
converted_list = [s.replace(']', '') for s in converted_list]

In [ ]:
len(converted_list)

177916

In [ ]:
df = pd.DataFrame(converted_list,columns=['Word'])

In [ ]:
df['Word'].replace('{\n', '', inplace=True)
df['Word'].replace(',\n', '', inplace=True)
df['Word'].replace('{', '', inplace=True)
df['Word'].replace('}', '', inplace=True)
df['Word'].replace(r'\n', '', inplace=True)

In [ ]:
df

                      Word
0
1       "1dimensional": 58
2        "nonlinear": 1907
3           "optical": 979
4             "wave": 1401
...                    ...
177911  "backwordnadir": 1
177912           "stb6": 1
177913          "stb15": 1
177914         "tampk3": 2
177915

[177916 rows x 1 columns]

In [ ]:
import numpy as np
df['Word'].replace('', np.nan, inplace=True)
df.dropna(subset=['Word'], inplace=True)
df = df.reset_index(drop=True)
# df.index += 1

In [ ]:
df

                      Word
0       "1dimensional": 58
1        "nonlinear": 1907
2           "optical": 979
3             "wave": 1401
4          "coherently": 9
...                    ...
177909   "forwardnadir": 1
177910  "backwordnadir": 1
177911           "stb6": 1
177912          "stb15": 1
177913         "tampk3": 2

[177914 rows x 1 columns]

In [ ]:
data = pd.DataFrame(df.Word.str.split(':',1).tolist(),columns = ['Word','Freq'])

In [ ]:
data.Freq = data['Freq'].convert_dtypes()
data.Freq = pd.to_numeric(data.Freq)
data.dtypes

Word    object
Freq     int64
dtype: object

In [ ]:
data.shape

(177914, 2)

In [ ]:
num = 25
data = data[data['Freq'] >= num]

In [ ]:
data.shape

(14283, 2)

In [ ]:
data = data.sort_values(by=['Freq'], ascending=False)
data = data.reset_index(drop=True)

In [ ]:
data

                    Word   Freq
0                "study"  40259
1              "patient"  32039
2               "result"  29895
3               "system"  24792
4               "method"  24315
...                  ...    ...
14278    "nonsynonymous"     25
14279          "affords"     25
14280          "impedes"     25
14281  "interferometric"     25
14282     "complexation"     25

[14283 rows x 2 columns]

In [ ]:
data.to_csv('/content/drive/MyDrive/WS/Çıktılar/Unigrams.csv', encoding='utf-8')