In [ ]:
import nltk
import pandas as pd

In [ ]:
with open('/content/drive/MyDrive/WS/Çıktılar/DataUni.json', 'r', encoding='utf-8')as f:
  Lines = f.readlines()

In [ ]:
converted_list = []

for y in range(0,179):
  start = y*1000
  end = (y*1000)+999
  for element in Lines[start:end]:
      converted_list.append(element.strip())

# converted_list = [s.strip(',') for s in converted_list]
converted_list = [s.replace(',', '') for s in converted_list]
# converted_list = [s.strip(',') for s in converted_list]
converted_list = [s.replace('[', '') for s in converted_list]
# converted_list = [s.strip(',') for s in converted_list]
converted_list = [s.replace(']', '') for s in converted_list]
# converted_list = [s.strip(',') for s in converted_list]
converted_list = [s.replace('"', '') for s in converted_list]

In [ ]:
df = pd.DataFrame(converted_list,columns=['Word'])
df['Word'].replace('{\n', '', inplace=True)
df['Word'].replace(',\n', '', inplace=True)
df['Word'].replace('{', '', inplace=True)
df['Word'].replace('}', '', inplace=True)
df['Word'].replace(r'\n', '', inplace=True)

In [ ]:
import numpy as np
df['Word'].replace('', np.nan, inplace=True)
df.dropna(subset=['Word'], inplace=True)
df = df.reset_index(drop=True)

In [ ]:
data = pd.DataFrame(df.Word.str.split(':',1).tolist(),columns = ['Word','Freq'])
data.Freq = data['Freq'].convert_dtypes()
data.Freq = pd.to_numeric(data.Freq)
data.reset_index()
data.dtypes

Word    object
Freq     int64
dtype: object

In [ ]:
data = data.sort_values(by=['Freq'], ascending=False)
data = data.reset_index(drop=True)

In [ ]:
data

                   Word   Freq
0                 study  40259
1               patient  32039
2                result  29895
3                system  24792
4                method  24315
...                 ...    ...
177909        fermionic      1
177910  kondoheisenberg      1
177911            junto      1
177912        dejection      1
177913    precommitment      1

[177914 rows x 2 columns]

In [ ]:
num = 5
top = 250

In [ ]:
data['Word'] = data['Word'].astype("string")

In [ ]:
my_words = data.Word.iloc[:top]
my_words

0         study
1       patient
2        result
3        system
4        method
         ...
245    negative
246        thus
247        part
248      source
249    software
Name: Word, Length: 250, dtype: string

In [ ]:
my_words.head()

0      study
1    patient
2     result
3     system
4     method
Name: Word, dtype: string

In [ ]:
my_words.tail()

245    negative
246        thus
247        part
248      source
249    software
Name: Word, dtype: string

In [ ]:
somewords = []

for i in range(0,top-1):
  somewords.append(my_words[i])

In [ ]:
somewords[5]

'model'

In [ ]:
filepath = r'/content/drive/MyDrive/WS/Çıktılar/DataN5grams.json'

In [ ]:
df2 = pd.read_json(filepath)

In [ ]:
full_data = pd.DataFrame(columns=['Words','Freq'])
full_data.Words = df2[0]
full_data['Freq'] = df2[1]
full_data.Freq = full_data['Freq'].convert_dtypes()
full_data.Freq = pd.to_numeric(full_data.Freq)
full_data.head()

                                               Words  Freq
0  [1dimensional, nonlinear, optical, wave, coher...     1
1    [nonlinear, optical, wave, coherently, excited]     1
2     [optical, wave, coherently, excited, resonant]     1
3      [wave, coherently, excited, resonant, medium]     1
4     [coherently, excited, resonant, medium, doped]     1

In [ ]:
full_data['Words'] = full_data['Words'].astype(str).str.replace(' ', '')
full_data['Words'] = full_data['Words'].astype(str).str.replace("'", '')

In [ ]:
full_data['Words'] = full_data['Words'].astype(str).str.replace('[', '')
full_data['Words'] = full_data['Words'].astype(str).str.replace(']', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
data2 = pd.DataFrame(full_data.Words.str.split(',',num-1).tolist(), columns = ['Word1','Word2','Word3','Word4','Word5'])
data2['Freq'] = full_data.Freq
data2.head()

          Word1       Word2       Word3       Word4       Word5  Freq
0  1dimensional   nonlinear     optical        wave  coherently     1
1     nonlinear     optical        wave  coherently     excited     1
2       optical        wave  coherently     excited    resonant     1
3          wave  coherently     excited    resonant      medium     1
4    coherently     excited    resonant      medium       doped     1

In [ ]:
data2.dtypes

Word1    object
Word2    object
Word3    object
Word4    object
Word5    object
Freq      Int64
dtype: object

In [ ]:
data2['Word1'] = data2['Word1'].astype("string")
data2['Word2'] = data2['Word2'].astype("string")
data2['Word3'] = data2['Word3'].astype("string")
data2['Word4'] = data2['Word4'].astype("string")
data2['Word5'] = data2['Word5'].astype("string")
data2.dtypes

Word1    string
Word2    string
Word3    string
Word4    string
Word5    string
Freq      Int64
dtype: object

In [ ]:
# print(data2.Word1[55])
# print(data2.Word2[55])
# # data2[55]

In [ ]:
# print(data2[55:56])

In [ ]:
# data2[55:56]

In [ ]:
data2.head()

          Word1       Word2       Word3       Word4       Word5  Freq
0  1dimensional   nonlinear     optical        wave  coherently     1
1     nonlinear     optical        wave  coherently     excited     1
2       optical        wave  coherently     excited    resonant     1
3          wave  coherently     excited    resonant      medium     1
4    coherently     excited    resonant      medium       doped     1

In [ ]:
my_list = list(my_words.values)

In [ ]:
somedata = []
for w1, w2, w3, w4, w5, f in data2[["Word1", "Word2", "Word3", "Word4", "Word5", "Freq"]].values:
  if w1 in my_list and w2 in my_list and w3 in my_list and w4 in my_list and w5 in my_list:
    somedata.append((w1, w2, w3, w4, w5, f))

In [ ]:
len(somedata)

26016

In [ ]:
somedata[:10]

[('one', 'well', 'interaction', 'type', 'change', 1),
 ('well', 'interaction', 'type', 'change', 'interaction', 1),
 ('interaction', 'type', 'change', 'interaction', 'two', 1),
 ('system', 'paper', 'proposed', 'novel', 'approach', 1),
 ('paper', 'proposed', 'novel', 'approach', 'method', 1),
 ('proposed', 'novel', 'approach', 'method', 'proposed', 1),
 ('novel', 'approach', 'method', 'proposed', 'method', 1),
 ('approach', 'method', 'proposed', 'method', 'first', 1),
 ('clinical', 'application', 'method', 'future', 'application', 1),
 ('application', 'method', 'future', 'application', 'new', 1)]

In [ ]:
type(somedata)

list

In [ ]:
df3 = pd.DataFrame(somedata, columns=['Word1','Word2','Word3','Word4','Word5','Freq'])
df3 = df3.sort_values(by=['Freq'], ascending=False)
df3 = df3.reset_index(drop=True)
df3.head()

      Word1  Word2     Word3     Word4       Word5  Freq
0  elsevier    ltd     right  reserved       paper   338
1  elsevier    ltd     right  reserved  background   159
2       ltd  right  reserved     paper     present   115
3  elsevier    ltd     right  reserved   objective   109
4  elsevier    ltd     right  reserved       study   109

In [ ]:
'reserved' in my_list and 'right' in my_list

True

In [ ]:
path = r'/content/drive/MyDrive/WS/Çıktılar/Data' + str(num) + 'grams.csv'
df3.to_csv(path, encoding='utf-8')